body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #04022d;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center; 
    flex: 1; 
}

.header .button {
    position: absolute;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.category-form {
    margin-bottom: 20px;
}

.select-container {
    display: flex;
    justify-content: center;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

select:focus {
    border-color: #aaa;
    outline: none;
}

.products-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-section h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px); 
    box-sizing: border-box;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.card-content p {
    margin: 0 0 10px;
    font-size: 1rem;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
}

.add-product-btn {
    display: none; /* Por defecto, no visible */
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745;
    border-radius: 4px;
    text-decoration: none;
    position: fixed;
    bottom: 20px; /* Posición en la parte inferior */
    right: 20px;  /* Posición desde el borde derecho */
    transition: background-color 0.3s;
}

.add-product-btn:hover {
    background-color: #218838;
}
